{% extends 'base.html' %}
{% block content %}



<form action="" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ load.as_p }}
    <div class="wrapper">

     

      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips"></section>
     
    </div>

    <br>
    <input type="submit" value="Submit">
</form>


{{ text }}


{{ print }}
{% endblock %}