{% extends 'base.html' %}
{% block content %}

<!-- h1>Hi</h1>
<div class='container'>
      <br><br>
   <form action="{% url 'home' %}" method="POST">
   {% csrf_token %}
    <label for="fname">Name:</label><br>
    <input type="text" id="fname" name="Name" value=""><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value=""><br><br>
    
    <div class="wrapper">

     

      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips">


      </section>
      <div ><h2 id="response"></h2></div>
    </div>




    <input type="submit" value="Submit">
  </form> 
</div>

 -->

<form action="" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ load.as_p }}
    <div class="wrapper">

     

      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips"></section>
      <!-- <div ><h2 id="response"></h2></div> -->
    </div>

    
    <input type="submit" value="Submit">
</form>


{{ text }}


{{ print }}
{% endblock %}