{% extends 'base.html'%}

{% block content %}
<h2>Display result</h2>
{{ text }}
<br>
<form action="https://ezvoice.herokuapp.com/">
    <input type="submit" value="Go back" />
</form>
<!-- <h2> Search Result</h2>
<form method='POST' action ="{% url 'search' %}">
{% csrf_token %}
  <label for="search">Search:</label><br>
  <input type="text" id="search" name="Search"><br>
  <button type="submit" value='Submit'>Submit</button>	
</form>
 -->
<!-- Name   |   Email 
<br>
{% for upload in query_key %} 
{% if upload %}
{{ upload.upload_text.name }} &nbsp &nbsp &nbsp &nbsp   &nbsp &nbsp {{upload.upload_text.email}}  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp   {{ upload.texts }}
{% endif %}
<br>
{% endfor %}
 -->
{% endblock %}